<p-dataView #dv [value]="listaLivros" filterBy="title">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-6 ui-md-4 filter-container">
          <div style="position:relative">
            <input type="search" pInputText placeholder="Buscar um livro" (keyup)="dv.filter($event.target.value)">
          </div>
        </div>
      </div>
    </div>
  </p-header>
  <ng-template let-livro pTemplate="listItem">
    <div class="ui-g-12">
      <div class="car-details">
        <div>
          <img src="favicon.ico">
          <div class="ui-g">
            <div class="ui-g-12">Title: <b>{{livro.title}}</b></div>
            <div class="ui-g-12">Author: <b>{{livro.author}}</b></div>
            <div class="ui-g-12">Price: <b>{{livro.price | currency: 'BRL'}}</b></div>
            <div class="ui-g-12">LaunchDate: <b>{{livro.launchDate | date: 'dd/MM/yyyy'}}</b></div>
            <button pButton type="button" (click)="editar(livro.id)" label="Editar"></button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>

<p-paginator [rows]="6" [totalRecords]="totalElementos" (onPageChange)="paginate($event)"></p-paginator>

