<div class="ui-g-12">
  <div class="car-details">
    <div>
      <div class="ui-g">
        <div class="ui-g-12">
          <input id="input-title" type="text" [size]="livro.title.length" pInputText [(ngModel)]="livroUpdate.title" [value]="livro.title"/>
        </div>
        <div class="ui-g-12">
          <input id="input-author" type="text" [size]="livro.author.length" pInputText [(ngModel)]="livroUpdate.author" [value]="livro.author"/>
        </div>
        <div class="ui-g-12">
          <input id="input-price" type="text" pInputText [(ngModel)]="livroUpdate.price" [value]="livro.price"/>
        </div>
        <div class="ui-g-12">Price: <b>{{livro.price | currency: 'BRL'}}</b></div>
        <div class="ui-g-12">
          <input id="input-launch" type="text" pInputText [(ngModel)]="livroUpdate.launchDate" [value]="livro.launchDate"/>
        </div>
        <div class="ui-g-12">LaunchDate: <b>{{livro.launchDate | date: 'dd/MM/yyyy'}}</b></div>
      </div>
    </div>
  </div>
</div>
