<div class="ui-g-12">
  <div class="car-details">
    <div>
      <div class="ui-g">
        <div class="ui-g-12">
          <input id="input-title" type="text" [size]="120" pInputText [(ngModel)]="livro.title"/>
        </div>
        <div class="ui-g-12">
          <input id="input-author" type="text" [size]="120" pInputText [(ngModel)]="livro.author"/>
        </div>
        <div class="ui-g-12">
          <input id="input-price" type="text" pInputText currencyMask
                 [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" [(ngModel)]="livro.price"/>
        </div>
        <div class="ui-g-12">
          <input id="input-launch" type="text" pInputText [(ngModel)]="livro.launchDate"/>
        </div>
        <div class="ui-g-12">
          <button pButton type="button" (click)="voltar()" label="Voltar"></button>
          <button style="margin-left: 5px" pButton type="button" (click)="salvar()" label="Salvar"></button>
        </div>
      </div>
    </div>
  </div>
</div>
